<!DOCTYPE html>
<html>

<body>


{{#users}}
    <table>
    <tr align="center">
        <td>{{login}}</td>
        <td>{{name}}</td>
        <td>{{surname}}</td>
        <td>
            <form method="get" action="getInfo">
                <input type="number" name="id" hidden="hidden" value={{id}} />
                <button type="submit">Подробнее</button>
            </form>
        </td>
        <td>
            <form method="post" action="deleteUser">
                <input type="number" name="id" hidden="hidden" value={{id}} />
                <button type="submit">Удалить</button>
            </form>
        </td>
        <td>
            <form method="get" action="editInfo">
                <input type="number" name="id" hidden="hidden" value={{id}} />
                <button type="submit">Изменить</button>
            </form>
        </td>
    </tr>
    </table>
{{/users}}
</body>
</html>